@model SC_Playground.Models.PromoModel

<div class="promo-section">
    <div class="thumbnail">
        <a href="Event-Detail.html">
            <img src="@Model.PromoImage " class="img-responsive" alt="Skiing in the Himalayas" width="500" height="333" />
        </a>
        <div class="caption">
            <h3 class="teaser-heading">@Model.PromoHeading</h3>
            <p>@Model.PromoDesc</p>
        </div>
    </div>
</div>

