@model SC_Playground.Models.AboutUsModel

<div class="promo-section">
    <div class="thumbnail">
        <div class="caption">
            <h3 class="teaser-heading">@Model.Title</h3>
            <p>@Model.Description</p>
        </div>
    </div>
</div>